@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #2D2D2D;
}

.block.h-9.w-auto {
    height: 3rem !important; /* Coba ganti nilainya */
    max-height: none !important; /* Hapus batasan max-height */
    overflow: visible !important; /* Pastikan tidak terpotong */
}