@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #2D2D2D;
}

.block.h-9.w-auto {
    height: 3rem !important; 
    max-height: none !important; 
    overflow: visible !important; 
}